<!-- mask begin -->
<div class="mask-wrap">
    <div class="mask-background"></div>
    <div class="loadingimg"><img src="images/loading.jpg" alt=""/></div>
</div>
<!-- mask end -->

<!-- 系统繁忙 begin-->
<div class="error-wrap">
    <div class="error-wrapcontent">
        <div class="error-wrapimg" id="pageRefresh"><img src="images/ic_loading_failure.png" alt=""/></div>
        <div class="error-wraptext">加载失败，请稍后再试！</div>
    </div>
</div>
<!-- 系统繁忙 end-->
<!-- 系统弹出框 begin -->
<div class="errorAlert-wrap" id="errorAlert">
    <div class="errorAlert">
        <div class="errorAlert-backgroud"></div>
        <div class="errorAlert-text"></div>
    </div>
</div>
<!-- 系统弹出框 end -->